schematrons/VHitG/Arztbrief/v1.5/vhitg-ruleset.ent

<!--
********************************************************

Schematron rules for VHitG Arztbrief

History:
30.12.2009: Tony Schaller, medshare GmbH (Übernahme von supporting documents des VHitG und ein paar Anpassungen - alle kommentiert)
11.12.2010: Tony Schaller, medshare GmbH (Version aus dem Dateinamen entfernt. Die Version wird im SVN Repository verwaltet und über den Pfad definiert)
06.06.2012: Tony Schaller, medshare GmbH (Migration zu XInclude )

********************************************************
-->
<xs:schema
	xmlns:iso="http://purl.oclc.org/dsdl/schematron"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	queryBinding="xslt2"
	>
	<iso:pattern name="GENC ClinicalDocument General Constraints">

		<!-- Entity Information -->
		<xhtml:ul id='vhitg-ruleset'>
			<xhtml:li class='filename'>vhitg-ruleset.ent (is only very poor documented by xhtml! (see the schematron rules in vhitg-ruleset.ent)</xhtml:li>
			<xhtml:li class='version'>1.5</xhtml:li>
		</xhtml:ul>

		<iso:rule id="general-addr" context="cda:addr[@nullFlavor]">
			<iso:assert id="null-or-no-content" test="normalize-space(.) = ''">
				vhitg-ruleset.ent: When the <emph>addr</emph> element is null, it should not	have content.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<iso:pattern>
		<iso:rule id="general-addr-1" context="cda:addr[normalize-space(.) = '']">
			<iso:assert id="empty-implies-null" test="not(string(@nullFlavor)='')">
				vhitg-ruleset.ent: When the <emph>addr</emph> element is empty, it must have a value for <emph>nullFlavor</emph>.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<iso:pattern>
		<iso:rule id="general-time-req" context="cda:authenticator | cda:author | cda:dataEnterer | cda:legalAuthenticator">
			<iso:assert test="(not(contains(translate(cda:time/@value,'+-','ZZ'),'Z')) and string-length(cda:time/@value) &gt; 7) or string-length(substring-before(translate(cda:time/@value,'+-','ZZ'),'Z')) &gt; 7">
				vhitg-ruleset.ent: The <emph>time</emph> element must be precise at least to the day.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<iso:pattern>
		<iso:rule id="cda-id-oid" context="/cda:ClinicalDocument/cda:id[contains(@root, '.')]">
			<iso:assert test="translate(@root, '0123456789.', '') = ''">
				vhitg-ruleset.ent: Characters that are not in the set 0-9 or . are not present in a valid OID.
			</iso:assert>
			<iso:assert test="not(substring(@root, 1, 1) = '.') and not(substring(@root, string-length(@root), 1) = '.')">
				vhitg-ruleset.ent: The first and last characters of an OID must be a digit.
			</iso:assert>
			<iso:assert test="not(contains(@root,'..'))">
				vhitg-ruleset.ent: A properly formatted OID should not contain two . characters without any intervening digits
			</iso:assert>
			<iso:assert test="string-length(@root) &lt; 65">
				vhitg-ruleset.ent: An OID must be shorter than 65 characters.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<iso:pattern>
		<iso:rule id="cda-id" context="cda:id[not(contains(@root,'.') or contains(@root,'-') or string-length(@nullFlavor) &gt;1)]">
			<iso:assert test="false()">
				vhitg-ruleset.ent: The root attribute of the id element must be a syntactically correct OID.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<iso:pattern>
		<iso:rule id="general-id" context="cda:id">
			<iso:assert id="null-or-no-root-attribute" test="./@nullFlavor or ./@root">
				vhitg-ruleset.ent: When the <emph>id</emph> element is not null, at least a root attribute must be present.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<!--
	Regel NMSP: Das Dokument muss mit dem Element <ClinicalDocument>
	beginnen und die in obiger Abbildung genannten xmlns: Deklaratio-
	nen aufweisen.

	<ClinicalDocument> rule is handled by de XML schema (CDA)
	-->
	<iso:pattern name="NMSP Namespaces">
		<iso:rule id="cda-root" context="/*">
			<iso:assert test="self::cda:ClinicalDocument">
				vhitg-ruleset.ent: The root of a Clinical Document must be a <emph>ClinicalDocument</emph> element from the <emph>urn:hl7-org-v3</emph> namespace.
			</iso:assert>
		</iso:rule>
	</iso:pattern>

	<!--
	Regel PERS: Jede Person muss durch einen Namen (name) identifiziert
	sein. Jede Person sollte zusätzlich Adresse (addr) und Telekommuni-
	kations-Informationen (telecom) aufweisen.
	-->
	<iso:pattern name="PERS Persons">
		<!-- abstract rules -->
		<iso:rule id="nameTest" abstract="true">
			<iso:assert test="cda:name">
			vhitg-ruleset.ent: A Person (<name/>) must have a name
		</iso:assert>
	</iso:rule>
</iso:pattern>

<iso:pattern>
	<!-- rules in context -->
	<iso:rule context="cda:patient">
		<extends rule="nameTest"/>
	</iso:rule>
</iso:pattern>

<iso:pattern>
	<iso:rule context="cda:assignedPerson">
		<extends rule="nameTest"/>
	</iso:rule>
</iso:pattern>

<iso:pattern>
	<iso:rule context="cda:informationRecipient/cda:intendedRecipient/cda:informationRecipient">
		<extends rule="nameTest"/>
	</iso:rule>
</iso:pattern>

<!--
Regel HCPC: Für jeden Heilberufler muss ein Name, eine Adresse und
die Telekommunikations-Information angegeben werden. Wenn Ad-
resse und Telekom-Kontakte nicht bekannt sind, muss dies über das
@nullFlavor Attribut angezeigt werden.

Name is already handled in person pattern
-->
<iso:pattern name="HCPC Healthcare professionals">
	<!-- abstract rules -->
	<!--
	<iso:rule id="addresTestPerson" abstract="true">
	<iso:assert test="../*/cda:addr/* or ../*/cda:addr/@nullFlavor='UNK'">A Healthcare professional (<name/>) must have a non-empty
	addres or the attribute 'nullFlavor' must be set to 'UNK'. </iso:assert>
	</iso:rule>
	-->
	<iso:rule id="addresTestPersonOrRole" abstract="true">
		<iso:assert test="../*/cda:addr/* or ../cda:addr/* or ../*/cda:addr/@nullFlavor='UNK' or ../cda:addr/@nullFlavor='UNK'">
		vhitg-ruleset.ent: A Healthcare professional (<name/>) must have a non-empty addres associated with the role / scoping organization or the attribute 'nullFlavor' must be set to 'UNK'.
	</iso:assert>
</iso:rule>
</iso:pattern>

<iso:pattern>

	<!--
	<iso:rule id="telecomTestPerson" abstract="true">
	<iso:assert test="../*/cda:telecom/@value or ../*/cda:telecom/@nullFlavor='UNK'">A Healthcare professional (<name/>) must have a
	telecom addres or the attribute 'nullFlavor' must be set to 'UNK' </iso:assert>
	</iso:rule>
	-->
	<!-- rules in context -->
	<iso:rule context="cda:assignedPerson">
		<extends rule="addresTestPerson"/>
		<extends rule="telecomTestPerson"/>
	</iso:rule>
</iso:pattern>

<iso:pattern>
	<iso:rule context="cda:informationRecipient/cda:intendedRecipient/cda:informationRecipient">
		<extends rule="addresTestPersonOrRole"/>
		<extends rule="telecomTestPerson"/>
	</iso:rule>
</iso:pattern>

<!--
Regel ORGC: Jede Organisation muss durch einen Namen, eine Adresse
und Telekommunikations-Information, optional auch über eine re-
gistrierte OID identifiziert sein. Bei Angabe einer OID haben die ex-
pliziten Angaben im Konfliktfall geringere Priorität.
-->
<iso:pattern name="ORGC Organization">
	<iso:rule id="nameTestOrg" abstract="true">
		<iso:assert test="cda:name">
		vhitg-ruleset.ent: An Organization (<name/>) must have a name.
	</iso:assert>
</iso:rule>
</iso:pattern>

<iso:pattern>
	<iso:rule id="addresTestOrg" abstract="true">
		<iso:assert test="cda:addr/*">
		vhitg-ruleset.ent: An Organization (<name/>) must have a non-empty addres.
	</iso:assert>
</iso:rule>
</iso:pattern>

<iso:pattern>

	<!--
	<iso:rule id="telecomTestOrg" abstract="true">
	<iso:assert test="cda:telecom/@value or cda:telecom/@nullFlavor='UNK'">An Organization (<name/>) must have a telecom addres or
	the attribute 'nullFlavor' must be set to 'UNK'</iso:assert>
	</iso:rule>
	-->
	<!-- rules in context -->
	<iso:rule context="cda:representedOrganization | cda:representedCustodianOrganization | cda:scopingOrganization">
		<extends rule="nameTestOrg"/>
		<extends rule="addresTestOrg"/>
		<extends rule="telecomTestOrg"/>
	</iso:rule>
</iso:pattern>

<!--
Angegebene Telefonnummern
Regel TURS: ...müssen das URI Schema „tel:“ oder „fax:“ aufweisen
Regel TINT: ...müssen im Falle von internationalen Telefonnummern mit
einem „+“ beginnen
Regel TCHS: ...dürfen nur Ziffernzeichen 0 bis 9 nutzen sowie als visuelle
Separatorzeichen nur Bindestrich –, Punkte . oder Klammern ( ) verwenden.
-->
<iso:pattern name="TURS TINT TCHS Telecom">
	<!-- Basic datatype, no need for abstract rules -->
	<iso:rule context="cda:telecom">
		<iso:assert test="(substring(@value,1,4)='tel:' or substring(@value,1,4)='fax:') or substring(@value,1,7)='mailto:' or substring(@value,1,5)='http:' or substring(@value,1,6)='https:' or @nullFlavor">
			vhitg-ruleset.ent: Telecom values must begin with 'tel:' or 'fax:' or 'mailto:'.
		</iso:assert>
		<iso:assert id="telcom-regex" test="(not(substring(@value,1,4) = 'tel:') and not(substring(@value,1,4) = 'fax:')) or string-length(concat(translate(substring(@value,5,1),'+0123456789()-.',''),translate(substring(@value,6),'0123456789()-.',''))) = 0">
			vhitg-ruleset.ent: Telephone/fax numbers must match the regular expression pattern tel:\+?[-0-9().]
		</iso:assert>
		<iso:assert id="telcom-has-digit" test="(not(substring(@value,1,4) = 'tel:') and not(substring(@value,1,4) = 'fax:')) or string-length(concat(translate(substring(@value,5,1),'+()-.',''),translate(substring(@value,6),'()-.',''))) &gt; 0">
			vhitg-ruleset.ent: At least one dialing digit must be present in the telephone/fax number after visual separators are removed.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel HEAD: Der Header darf nur aus den in Tabelle 1 genannten Elementen bestehen. Andere Elemente sind nicht erlaubt.

****** ClinicalDocument Klasse *******
realmCode CS             –nicht verwendet– 0..*
typeId II                -konstant- 1..1 See Rule 9
templateId  II           Template Id für das ganze Dokument 0..1
id II                    Dokumenten-Id 1..1 SCHEMA
code CE                  Dokumententyp 1..1 SCHEMA
title ST                 Zusätzliche Dokumententyp Bezeichnung 0..1 SCHEMA
effectiveTime  TS        Erstellungsdatum des Dokuments 1..1 SCHEMA
confidentialityCode  CE  Vertraulichkeitsgrad 1..1 SCHEMA
languageCode  CS         Sprache des Dokuments 0..1 SCHEMA
setId  II                Set-Kennung 0..1 SCHEMA
versionNumber  INT       Versionsnummer 0..1 SHEMA
copyTime  TS             –nicht verwenden– 0..1

******* Participations *******
recordTarget            Record Target 1..* SCHEMA
author                  Author 1..* SCHEMA
dataEnterer             Data Enterer 0..1 SCHEMA
informant               Informant, –noch nicht verwendet– 0..*
custodian               Custodian 1..1 SCHEMA
informationRecipient    Information Recipient 0..* SCHEMA
legalAuthenticator      Legal Authenticator 0..1 SCHEMA
authenticator           Authenticator 0..* SCHEMA
participant             Participant 0..* SCHEMA
inFulfillmentOf         In Erfüllung von, –noch nicht verwendet– 0..*
documentationOf         Dokumentierte Gesundheitsdienstleistung, –noch nicht verwendet– 0..*
relatedDocument         Bezug zu vorhergehenden Dokumenten 0..* See Rule 21
authorization           Einverständniserklärung 0..* SCHEMA
componentOf             Informationen zum Patientenkontakt 0..1 SCHEMA
component               CDA Body 1..1 SCHEMA
-->
<iso:pattern name="HEAD General Header constraints">
	<iso:rule context="cda:ClinicalDocument">
		<iso:assert test="not(cda:realmCode)">
			vhitg-ruleset.ent: The <emph>realmCode</emph> element is not allowed.
		</iso:assert>
		<!-- 29.11.2009 ts: auskommentiert, da z.B. IHE PHR Extract mehrere Template IDs erfordert
		<iso:assert test="count(cda:templateId)&lt;2">
		vhitg-ruleset.ent: The <emph>templateId</emph> element may only appear once.
		</iso:assert>
		-->
		<iso:assert test="not(cda:copyTime)">
			vhitg-ruleset.ent: The <emph>copyTime</emph> element is not allowed.
		</iso:assert>
		<iso:assert test="not(cda:informant)">
			vhitg-ruleset.ent: The <emph>informant</emph> association element is not allowed.
		</iso:assert>
		<iso:assert test="not(cda:inFulfillmentOf)">
			vhitg-ruleset.ent: The <emph>inFulfillmentOf</emph> association element is not allowed.
		</iso:assert>
		<!-- 29.11.2009 ts: auskommentiert, da z.B. IHE PHR Extract genau dies erfodert
		<iso:assert test="not(cda:documentationOf)">
		vhitg-ruleset.ent: The <emph>documentationOf</emph> association element is not allowed.
		</iso:assert>
		-->
	</iso:rule>
</iso:pattern>
<!--
<typeId root="2.16.840.1.113883.1.3" extension="POCD_HD000040"/>

Regel TYID: Die typeID is wie im obigen XML Fragment gezeigt an-
zugeben.
-->
<iso:pattern name="TYID Document typeId">
	<!-- Single instance, no need for abstract rules -->
	<iso:rule context="cda:ClinicalDocument/cda:typeId">
		<iso:assert test="normalize-space(@root)='2.16.840.1.113883.1.3' and normalize-space(@extension)='POCD_HD000040'">
			vhitg-ruleset.ent: The <emph>extension</emph> attribute of the <emph>typeId</emph> element must be <emph>POCD_HD000040</emph> and the <emph>root</emph> attribute must be <emph>2.16.840.1.113883.1.3</emph>.
		</iso:assert>
	</iso:rule>
</iso:pattern>
<!--
Regel IIRT: Das @root Attribut ist bei Instanzidentifikatoren verpflichtend anzugeben.
-->
<iso:pattern name="IIRT Instance identifiers">
	<!-- Basic datatype, no need for abstract rules -->
	<iso:rule context="cda:id">
		<iso:assert test="@root or @nullFlavor">
			vhitg-ruleset.ent: Instance Identifiers must at least contain a <emph>root</emph> attribute.
		</iso:assert>
	</iso:rule>
</iso:pattern>
<!--
Regel CDCD: Beim ClinicalDocument.code ist die Angabe von @code
und @codeSystem verpflichtend.

Regel CDLN: Als Codesystem für ClinicalDocument.code ist LOINC (2.16.840.1.113883.6.1) zu
verwenden.
-->
<iso:pattern name="CDCD CDLN ClinicalDocument Code">
	<!-- Single instance, no need for abstract rules -->
	<iso:rule context="cda:ClinicalDocument/cda:code">
		<iso:assert test="@code and @codeSystem">
			vhitg-ruleset.ent: The code element of the ClinicalDocument must have a <emph>code</emph> and <emph>codeSystem</emph>.
		</iso:assert>
		<iso:assert test="normalize-space(@codeSystem)='2.16.840.1.113883.6.1'">
			vhitg-ruleset.ent: The <emph>OID root</emph> of ClinicalDocument.code must point to <emph>LOINC (2.16.840.1.113883.6.1)</emph>
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel CDET: Das Erstellungsdatum ClinicalDocument.effectiveTime
muss mindestens tagesgenau sein, d. h. es muss mindestens ein
Datum mit Jahr, Monat und Tag angegeben sein.
-->
<iso:pattern name="CDET ClinicalDocument effectiveTime">
	<!-- Single instance, no need for abstract rules -->
	<iso:rule context="cda:ClinicalDocument/cda:effectiveTime">
		<iso:assert test="string-length(@value)&gt;7">
			vhitg-ruleset.ent: The <emph>effectiveTime</emph> element of the ClinicalDocument must be at least specific to the day.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel CDLC:
Das Format für ClinicalDocument.languageCode ist entsprechend ss-CC, mit ss, zwei Kleinbuchstaben für den Sprachencode
gemäß ISO-639-1, und CC, zwei Großbuchstaben für den Ländercode gemäß ISO 3166 (Tabelle mit zwei Buchstaben).
-->
<iso:pattern name="CDLC ClinicalDocument languageCode">
	<iso:rule id="cda-languageCode" context="/cda:ClinicalDocument">
		<iso:assert test="cda:languageCode">
			vhitg-ruleset.ent: The <emph>languageCode</emph> element must be present.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<iso:pattern>
	<iso:rule id="cda-languageCode-format" context="/cda:ClinicalDocument/cda:languageCode">
		<iso:assert test="(string-length(@code) = 5 and substring(@code,3,1) = '-') or string-length(@code) = 2">
			vhitg-ruleset.ent: The language code must be in the form <emph>nn</emph>, or <emph>nn-CC</emph>.
		</iso:assert>
		<iso:assert test="substring(@code,1,2) = $vhitg-codeSystem[@codeSystemName='ISO639-1']/code/@value">
			vhitg-ruleset.ent: The language must be a legal ISO-639-1 language code in lower case.
		</iso:assert>
		<iso:assert test="string-length(@code) = 2 or substring(@code,4,2) = $vhitg-codeSystem[@codeSystemName='ISO3166-1']/code/@value">
			vhitg-ruleset.ent: The country code portion, if present must be an ISO-3166 country code in upper case.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel PATR: Es ist mindestens eine Patientenrolle (role) mit genau ei-
nem Patienten (entity) anzugeben.
-->
<iso:pattern name="PATR Patient Role">
	<iso:rule context="cda:recordTarget">
		<iso:assert test="count(cda:patientRole)=1 and count(cda:patientRole/cda:patient)=1">
			vhitg-ruleset.ent: There must be exactly one <emph>patientRole</emph> element containing exactly one patient element
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel BRCC: Die Angabe eine Adresse mit mindestens city oder
country beim Geburtsort ist verpflichtend.
-->
<iso:pattern name="BRCC Birthplace">
	<iso:rule context="cda:patient/cda:birthplace/cda:place/cda:addr">
		<iso:assert test="cda:city or cda:country">
			vhitg-ruleset.ent: for the <emph>birthplace</emph> at least country or city must be present.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel PTNO: Wenn der participation.typeCode IND und participatingEn-
tity.classCode NOK ist, dann muss mindestens eine Person angege-
ben werden.

Regel PTEC: Wenn der participation.typeCode IND und participatingEn-
tity.classCode ECON ist, dann muss mindestens eine Person ange-
geben werden.

Regel PTPH: Wenn der participation.typeCode HLD und participatingEn-
tity.classCode POLHOLD ist, dann muss mindestens eine Organisati-
on angegeben werden.

Regel PTPR: Wenn der participation.typeCode IND und participatingEn-
tity.classCode PRS ist, dann muss mindestens eine Person angege-
ben werden.

Regel PTTL: Mindestens eine Kontaktinformation, telecom oder
addr, muss bei einer beteiligten Person vorliegen.
-->
<iso:pattern name="PTNO PTEC PTPH PTPR PTTL Participants">
	<iso:rule context="cda:participant">
		<iso:assert test="not(normalize-space(cda:typedCode)='IND' and normalize-space(cda:associatedentity/@typeCode)='NOK') or (normalize-space(cda:typedCode)='IND' and normalize-space(cda:associatedentity/@typeCode)='NOK' and cda:associatedentity/cda:associatedPerson)">
			vhitg-ruleset.ent: When the particapation.typecode='IND' and the associatedEntityClasscode='NOK', an <emph>associatedPerson</emph> element must be present.
		</iso:assert>
		<iso:assert test="not(normalize-space(cda:typedCode)='IND' and normalize-space(cda:associatedentity/@typeCode)='ECON') or (normalize-space(cda:typedCode)='IND' and normalize-space(cda:associatedentity/@typeCode)='ECON' and cda:associatedentity/cda:associatedPerson)">
			vhitg-ruleset.ent: When the particapation.typecode='IND' and the associatedEntityClasscode='ECON', an <emph>associatedPerson</emph> element must be present.
		</iso:assert>
		<iso:assert test="not(normalize-space(cda:typedCode)='HLD' and normalize-space(cda:associatedentity/@typeCode)='POLHOLD') or (normalize-space(cda:typedCode)='HLD' and normalize-space(cda:associatedentity/@typeCode)='POLHOLD' and cda:associatedentity/cda:scopingOrganization)">
			vhitg-ruleset.ent: When the particapation.typecode='HLD' and the associatedEntityClasscode='POLHOLD', a <emph>scopingOrganization</emph> element must be present.
		</iso:assert>
		<iso:assert test="not(normalize-space(cda:typedCode)='IND' and normalize-space(cda:associatedentity/@typeCode)='PRS') or (normalize-space(cda:typedCode)='IND' and normalize-space(cda:associatedentity/@typeCode)='PRS' and cda:associatedentity/cda:associatedPerson)">
			vhitg-ruleset.ent: When the particapation.typecode='IND' and the associatedEntityClasscode='PRS', an <emph>associatedPerson</emph> element must be present.
		</iso:assert>
	</iso:rule>
	<!-- 29.11.2009 ts: auskommentiert, da gemäss POCD_MT000040.xsd beim Datentyp POCD_MT000040.Person gar keine addr oder telecom erlaubt sind...
	<iso:rule context="cda:participant/cda:associatedEntity/cda:associatedPerson">
	<iso:assert test="../cda:addr or ../cda:telecom">
	vhitg-ruleset.ent: Participating persons must have an <emph>addr</emph> or a <emph>telecom</emph> element.
	</iso:assert>
	</iso:rule>
	-->
</iso:pattern>

<!--
Regel RELD: Ein konformes CDA Dokument kann
ein einzelnes relatedDocument mit @typeCode APND, oder
ein relatedDocument mit @typeCode RPLC, oder
ein relatedDocument mit @typeCode XFRM, oder
zwei relatedDocuments mit @typeCode XFRM und RPLC, oder
zwei relatedDocuments mit @typeCode XFRM und APND
enthalten.
XML Schema enforces use of typeCode and only allows APND,RPLC or XFRM.

Regel PDID: In der anhängenden Klasse ParentDocument ist zumindest
die id verpflichtend anzugeben, die das „Vater“-Dokument eindeutig
referenziert.
In XML Schema
-->
<iso:pattern name="RELD Relating documents">
	<iso:rule context="cda:ClinicalDocument">
		<iso:assert test="count(cda:relatedDocument[@typeCode='APND'])&lt;2">
			vhitg-ruleset.ent: A <emph>relatedDocument</emph> with typeCode='APND' may appear only once.
		</iso:assert>
		<iso:assert test="count(cda:relatedDocument[@typeCode='RPLC'])&lt;2">
			vhitg-ruleset.ent: A <emph>relatedDocument</emph> with typeCode='RPLC' may appear only once.
		</iso:assert>
		<iso:assert test="count(cda:relatedDocument[@typeCode='XFRM'])&lt;2">
			vhitg-ruleset.ent: A <emph>relatedDocument</emph> with typeCode='XFRM' may appear only once.
		</iso:assert>
		<iso:assert test="count(cda:relatedDocument)&lt;3">
			vhitg-ruleset.ent: No more than two <emph>relatedDocument</emph>s are allowed.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel BDSC: Ein Clinical Document muss mindestens ein „section“-Element enthalten.
-->
<iso:pattern name="BDSC Section">
	<iso:rule context="cda:structuredBody">
		<iso:assert test="count(/cda:component/cda:section)&lt;1">
			vhitg-ruleset.ent: A Clinical Document must at least contain one <emph>section</emph> element.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel SCTX: Eine Sektion muss genau ein „Text“-Element enthalten.
-->
<iso:pattern name="SCTX Section Text">
	<iso:rule context="cda:structeredbody/cda:component/cda:section">
		<iso:assert test="count(cda:text)=1 and string-length(normalize-space(cda:text))=0">
			vhitg-ruleset.ent: A <emph>section</emph> must contain exactly one non-empty text element.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel SCLN: Im Arztbrief sind nur LOINC Codes (OID des
@codeSystem 2.16.840.1.113883.6.1) als primäre Klassifikation der
Sections zugelassen. Alternative Codes können als <translation>
angegeben werden.
<iso:pattern name="SCLN Section code">
<iso:rule context="cda:section/cda:code">
<iso:assert test="@codeSystem='2.16.840.1.113883.6.1'">
vhitg-ruleset.ent: The <emph>codeSystem</emph> of the <emph>section.code</emph> element must point to <emph>LOINC (2.16.840.1.113883.6.1)</emph>.
</iso:assert>
</iso:rule>
</iso:pattern>
Enhancmend by Oliver Egger, visionary AG: Im Leitfaden V1.50 auf S. 91 steht:
Für den Fall, dass eine primäre LOINC Klassifikation noch nicht bekannt
ist, dennoch aber ein Code (zum Beispiel ein lokaler Code) angegeben
werden soll, darf dieser alternative Code nicht als Primärcode verwendet
werden. Dort stehen nur LOINC Codes. Sollen Alternativen angegeben
werden ohne einen primären LOINC Code, ist im Code Element nullFlavor
zu benutzen, der alternative Code steht dann in der <translation>.
<code nullFlavor="NA">
<translation code="XYZ" codeSystem="1.2.3.4.5.6.7.8"/>
</code>
-->
<iso:pattern name="SCLN Section code">
	<iso:rule context="cda:section/cda:code">
		<iso:assert test="@codeSystem='2.16.840.1.113883.6.1' or (@nullFlavor='NA' and count(@codeSystem)=0 and count(cda:translation/@codeSystem)>0 and count(cda:translation/@code)>0)">
			vhitg-ruleset.ent: Rule SCLN: The <emph>codeSystem</emph> of the <emph>section.code</emph> element must point to <emph>LOINC (2.16.840.1.113883.6.1)</emph>. nullFlavor Codes must have a translation. See also "VHitG Arztbrief V1.50", page 90/91.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel OMVL: Wenn die Klasse observationMedia genutzt wird, muss sie ein value Element mit dem eigentlichen Objekt enthalten.
-->
<iso:pattern name="OMVL observationMedia Class">
	<iso:rule context="cda:observationMedia">
		<iso:assert test="cda:value/@xsi:type='ED'">
			vhitg-ruleset.ent: <emph>observationMedia</emph> must contain a value of type ED.
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel DGCD: Verpflichtend bei den Diagnosen sind demnach das @code
Attribut und die Angabe zum Codesystem in @codeSystem.

Regel DGCN: Fehlt der Code, so muss in der Level 3 Darstellung das
code Element die Kennzeichnung erhalten, dass der Code unbekannt
ist (XML Attribut @nullFlavour ist "UNK").
<iso:pattern name="DGCD DGCN Diagnosis">
<iso:rule context="cda:entry/cda:observation/cda:value">
<iso:assert test="(@code and @codeSystem) or @nullFlavor='UNK'">
vhitg-ruleset.ent: The <emph>value</emph> element of a diagnosis must contain a <emph>code</emph> and a <emph>codeSystem</emph> attribute or the nullFlavor must be set to 'UNK'
</iso:assert>
</iso:rule>
</iso:pattern>
Enhancmend by Tony Schaller: value Element kann auch für anderes als Diagnosen eingesetztw werden.
-->
<iso:pattern name="DGCD DGCN Diagnosis">
	<iso:rule context="cda:entry/cda:observation/cda:value">
		<iso:assert test="@xsi:type!='CE' or ((@code and @codeSystem) or @nullFlavor='UNK')">
			vhitg-ruleset.ent: The <emph>value</emph> element of a diagnosis must contain a <emph>code</emph> and a <emph>codeSystem</emph> attribute or the nullFlavor must be set to 'UNK'
		</iso:assert>
	</iso:rule>
</iso:pattern>

<!--
Regel DGQL: Ist in einer Level 3 Diagnose ein <qualifier> Element anwesend,
muss ein <name> und <value> Kindelement mit Codes vorhanden sein.
-->
<iso:pattern name="DGQL Diagnosis">
	<iso:rule context="cda:entry/cda:observation/cda:value/cda:qualifier">
		<iso:assert test="(./cda:name) and (./cda:value)">
			vhitg-ruleset.ent: The <emph>qualifier</emph> element of a diagnosis code must contain a <emph>name</emph> and a <emph>value</emph> node
		</iso:assert>
		<iso:assert test="(./cda:name/@code and ./cda:name/@codeSystem)">
			vhitg-ruleset.ent: The <emph>qualifier/name</emph> element of a diagnosis code must contain a <emph>code</emph> and a <emph>codeSystem</emph> attribute
		</iso:assert>
		<iso:assert test="(./cda:value/@code and ./cda:value/@codeSystem)">
			vhitg-ruleset.ent: The <emph>qualifier/value</emph> element of a diagnosis code must contain a <emph>code</emph> and a <emph>codeSystem</emph> attribute
		</iso:assert>
	</iso:rule>
</iso:pattern>
</xs:schema>
<!-- EOF -->
