schematrons/HL7.ch/CDA-CH/v1.2/cda-ch_medication-section.ent

<!--
********************************************************

Schematron rules for HL7 CDA-CH, V1.2 medication sections

History:
20.12.2009: Tony Schaller, medshare GmbH (Draft)
31.12.2009: Tony Schaller, medshare GmbH (Abgabe an Auftraggeber)
01.04.2010: Stefan Schenk, medshare GmbH (XHTML-Dokumentation)
17.05.2010: Tony Schaller, medshare GmbH (Einfügen finaler OIDs)
09.09.2010: Tony Schaller, medshare GmbH (erste Übersetzungen Französisch)
11.12.2010: Tony Schaller, medshare GmbH (Version aus dem Dateinamen entfernt. Die Version wird im SVN Repository verwaltet und über den Pfad definiert)
23.01.2011: Tony Schaller, medshare GmbH (Übersetzungen französisch)
07.02.2011: Tony Schaller, medshare GmbH (Korrekturen Übersetzungen französisch)
01.10.2011: Tony Schaller, medshare GmbH (erste Übersetzungen englisch/italienisch, aber noch nicht vollständig)
06.10.2011: Tony Schaller, medshare GmbH (Übersetzungen englisch/italienisch)
06.06.2012: Tony Schaller, medshare GmbH (Migration zu XInclude )
31.12.2012: Tony Schaller, medshare GmbH (Anpassungen für CDA-CH-EDES)

********************************************************
-->
<!--
********************************************************
Medikamentenliste
********************************************************
-->
<xs:schema
	xmlns:iso="http://purl.oclc.org/dsdl/schematron"
	xmlns:xhtml="http://www.w3.org/1999/xhtml"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	queryBinding="xslt2"
	>
	<iso:pattern>
		<!-- Entity Information -->
		<xhtml:ul id="cda-ch_medication-section">
			<xhtml:li class="filename">cda-ch_medication-section.ent</xhtml:li>
			<xhtml:li class="version">1.2</xhtml:li>
		</xhtml:ul>
		<iso:rule context="*[cda:templateId/@root=&quot;2.16.756.5.30.1.1.1.1.1&quot; and cda:templateId/@extension=&quot;CDA-CH.Body.MediList&quot;]">
			<!-- Rule Documentation -->
			<xhtml:h3 lang="de_ch">CDA-CH Medication Section</xhtml:h3>
			<xhtml:p lang="de_ch">Die nachfolgenden Regeln beschreiben die Prüfungen zu den CDA-CH Medication Section Templates</xhtml:p>
			<xhtml:h3 lang="fr_ch">CDA-CH Medication Section</xhtml:h3>
			<xhtml:p lang="fr_ch">Les règles suivantes décrivent les contrôles effectués sur les CDA-CH Medication Section Templates</xhtml:p>
			<xhtml:h3 lang="it_ch">CDA-CH Medication Section</xhtml:h3>
			<xhtml:p lang="it_ch">Le regole seguenti descrivono i controlli per i CDA-CH Medication Section Templates</xhtml:p>
			<xhtml:h3 lang="en">CDA-CH Medication Section</xhtml:h3>
			<xhtml:p lang="en">The following rules describe the tests on the CDA-CH Medication Section Templates</xhtml:p>
			<iso:assert id="cda-ch_medication-section-0101" test="self::cda:section">
				<xhtml:p lang="de_ch">Medikationsdaten müssen als 'section' im CDA Body deklariert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent être déclarées comme 'section' dans le CDA Body</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono essere dichiarati come 'section' nel CDA Body</xhtml:p>
				<xhtml:p lang="en">Medication data must be declared as 'section' in the CDA Body</xhtml:p>
			</iso:assert>
			<iso:assert id="cda-ch_medication-section-0102" test="cda:text">
				<xhtml:p lang="de_ch">Medikationsdaten müssen einen narrativen Text enthalten</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent contenir un texte narratif</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono contenere un testo narrativo</xhtml:p>
				<xhtml:p lang="en">Medication data must contain a narrative text</xhtml:p>
			</iso:assert>
			<iso:assert id="cda-ch_medication-section-0103" test="cda:title">
				<xhtml:p lang="de_ch">Medikationsdaten müssen einen narrativen Titel enthalten</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent contenir un titre narratif</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono contenere un titolo narrativo</xhtml:p>
				<xhtml:p lang="en">Medication data must contain a narrative title</xhtml:p>
			</iso:assert>
		</iso:rule>
	</iso:pattern>
	<iso:pattern>
		<!--
		********************************************************
		Einzelnes Medikament
		********************************************************
		-->
		<!--	Template Check -->
		<iso:rule context="cda:entry/cda:substanceAdministration">
			<!-- Rule Documentation -->
			<xhtml:h3 lang="de_ch">CDA-CH Medication Entry</xhtml:h3>
			<xhtml:p lang="de_ch">Die nachfolgenden Regeln beschreiben die Prüfungen zu den CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="fr_ch">CDA-CH Medication Entry</xhtml:h3>
			<xhtml:p lang="fr_ch">Les règles suivantes décrivent les contrôles effectués sur les CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="it_ch">CDA-CH Medication Entry</xhtml:h3>
			<xhtml:p lang="it_ch">Le regole seguenti descrivono i controlli per i CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="en">CDA-CH medication entry</xhtml:h3>
			<xhtml:p lang="en">The following rules describe the tests on the CDA-CH Medication Entry Templates</xhtml:p>
			<!--	Template Identifikation 	-->
			<iso:assert id="cda-ch_medication-section-0201" test="cda:templateId/@root=&quot;2.16.756.5.30.1.1.1.1.1&quot; and cda:templateId/@extension=&quot;CDA-CH.Body.MediL3&quot;">
				<xhtml:p lang="de_ch">Medikationseinträge müssen mit der templateId root="2.16.756.5.30.1.1.1.1.1" extension="CDA-CH.Body.MediL3" angegeben werden</xhtml:p>
				<xhtml:p lang="fr_ch">Les entrées de médication doivent être saisies avec le templateId root="2.16.756.5.30.1.1.1.1.1" extension="CDA-CH.Body.MediL3"</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono essere indicati con la templateId root="2.16.756.5.30.1.1.1.1.1" extension="CDA-CH.Body.MediL3"</xhtml:p>
				<xhtml:p lang="en">Medication entries must be entered with the templateId root="2.16.756.5.30.1.1.1.1.1" extension="CDA-CH.Body.MediL3"</xhtml:p>
			</iso:assert>
			<!--	Med. Therapie, Impfung oder Infusion	-->
			<iso:assert id="cda-ch_medication-section-0202" test="(cda:code/@codeSystem=&quot;2.16.840.1.113883.5.4&quot; and cda:code/@code=$cda-ch-codeSystem[@root=&quot;2.16.840.1.113883.5.4&quot;]/code/@value) or (cda:code/@codeSystem=&quot;2.16.840.1.113883.6.1&quot;)">
				<xhtml:p lang="de_ch">Medikationsdaten müssen eine Verordnungsart beinhalten (gültiger Wert aus der Wertetabelle 'ActSubstanceAdministrationCode (2.16.840.1.113883.5.4)' oder LOINC Code)</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent contenir un type de prescription (valeur valable du tableau de valeurs 'ActSubstanceAdministrationCode (2.16.840.1.113883.5.4)' ou un code LOINC)</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono contenere un tipo di prescrizione (valore valido della tabella di valori 'ActSubstanceAdministrationCode (2.16.840.1.113883.5.4)' o LOINC codice)</xhtml:p>
				<xhtml:p lang="en">Medication data must contain a type of prescription (valid value from the value set 'ActSubstanceAdministrationCode (2.16.840.1.113883.5.4)' or a LOINC code)</xhtml:p>
			</iso:assert>
			<iso:assert role="information" id="cda-ch_medication-section-0203" test="not(cda:code/@codeSystem=&quot;2.16.840.1.113883.6.1&quot;) or (cda:code/@code=$cda-ch-codeSystem[@root=&quot;2.16.840.1.113883.6.1&quot; and @codeSystemName=&quot;ActSubstanceAdministrationCode&quot;]/code/@value)">
				<xhtml:p lang="de_ch">Der verwendete LOINC Code zu Medikationsdaten ist nicht direkt in CDA-CH Templates empfohlen</xhtml:p>
				<xhtml:p lang="en">The LOINC code used is not explictely recommended by CDA-CH medication templates</xhtml:p>
			</iso:assert>
			<!--	Identifikation mit GTIN oder Pharmacode 	-->
			<iso:assert id="cda-ch_medication-section-0204" test="cda:id/@root=&quot;2.16.756.5.30.2.6.1&quot; or cda:id/@root=&quot;1.3.88&quot; or cda:id/@root=&quot;1.3.160&quot;">
				<xhtml:p lang="de_ch">Medikationseinträge müssen mindestens mit der Packungs-GTIN oder der Identifikation aus swissINDEX identifiziert werden (Strichcode oder Pharmacode)</xhtml:p>
				<xhtml:p lang="fr_ch">Les entrées de médication doivent être identifiées au moins avec le GTIN de l'emballage ou l'identification de swissINDEX (code à barres ou pharmacode)</xhtml:p>
				<xhtml:p lang="it_ch">Le iscrizioni delle medicazioni devono essere identificate almeno con il GTIN dell'imballaggio o l'identificazione di SwissIndex (codice a barre o codice farmaceutico)</xhtml:p>
				<xhtml:p lang="en">Medication entries must be identified at least with the packaging GTIN or the identification from the SwissIndex (barcode or pharmacode)</xhtml:p>
			</iso:assert>
			<!-- Klassifizierung erforderlich -->
			<iso:assert id="cda-ch_medication-section-0205" test="cda:consumable/cda:manufacturedProduct/cda:manufacturedMaterial/cda:code[@codeSystem=&quot;2.16.756.5.30.2.6.2&quot; or @codeSystem=&quot;2.16.840.1.113883.6.73&quot;] or cda:consumable/cda:manufacturedProduct/cda:manufacturedLabeledDrug/cda:code[@codeSystem=&quot;2.16.756.5.30.2.6.2&quot; or @codeSystem=&quot;2.16.840.1.113883.6.73&quot;]">
				<xhtml:p lang="de_ch">Medikationsdaten müssen mit dem WHO ATC Code oder mit dem Generic Group Code klassifiziert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent être classifiées avec le WHO ATC Code ou avec le Generic Group Code</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono essere classificati con il WHO ATC Code o il Generic Group Code</xhtml:p>
				<xhtml:p lang="en">Medication data must be classified with the WHO ATC Code or the Generic Group Code</xhtml:p>
			</iso:assert>
			<iso:assert id="cda-ch_medication-section-0206" test="cda:consumable/cda:manufacturedProduct/cda:manufacturedMaterial/cda:code/@codeSystem!=&quot;2.16.756.5.30.2.6.2&quot; or cda:consumable/cda:manufacturedProduct/cda:manufacturedMaterial/cda:code/cda:translation/@codeSystem=&quot;2.16.840.1.113883.6.73&quot; or cda:consumable/cda:manufacturedProduct/cda:manufacturedLabeledDrug/cda:code/@codeSystem!=&quot;2.16.756.5.30.2.6.2&quot; or cda:consumable/cda:manufacturedProduct/cda:manufacturedLabeledDrug/cda:code/cda:translation/@codeSystem=&quot;2.16.840.1.113883.6.73&quot;">
				<xhtml:p lang="de_ch">Medikationsdaten, welche mit dem Generic Group Code klassifiziert werden, müssen eine translation nach WHO ATC code enthalten</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication qui sont classifiées avec le Generic Group Code doivent contenir une translation selon le WHO ATC code</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni classificati con il Generic Group Code devono contenere una translation secondo il WHO ATC Code</xhtml:p>
				<xhtml:p lang="en">Medication data which have been classified with the Generic Group Code must contain a translation following the WHO ATC code</xhtml:p>
			</iso:assert>
			<!-- Dringlichkeitsangaben -->
			<iso:assert id="cda-ch_medication-section-0207" test="cda:priorityCode[@nullFlavor=&quot;NA&quot; or (@codeSystem=&quot;2.16.840.1.113883.5.7&quot; and (@code=&quot;R&quot; or @code=&quot;UR&quot; or @code=&quot;PRN&quot;))]">
				<xhtml:p lang="de_ch">Medikationsdaten müssen eine Dringlichkeitsangabe beinhalten (gültiger Wert aus der Wertetabelle 'ActPriority (2.16.840.1.113883.5.7)')</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent contenir une indication d'urgence (valeur valable du tableau de valeurs 'ActPriority (2.16.840.1.113883.5.7)')</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono contenere un'indicazione di urgenza (valore valido della tabella di valori 'ActPriority (2.16.840.1.113883.5.7)')</xhtml:p>
				<xhtml:p lang="en">Medication dates must contain an indication of urgency (valid value from the value set 'ActPriority (2.16.840.1.113883.5.7)')</xhtml:p>
			</iso:assert>
			<!--	Einnahmeart	-->
			<iso:assert role="error" id="cda-ch_medication-section-0210" test="cda:routeCode/@nullFlavor or cda:routeCode/@code=$cda-ch-codeSystem[@root=&quot;2.16.840.1.113883.5.112&quot;]/code/@value">
				<xhtml:p lang="de_ch">Medikationsdaten müssen eine Einnahmeart beinhalten (gültiger Wert aus der Wertetabelle 'RouteOfAdministration (2.16.840.1.113883.5.112)')</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent contenir un mode d'administration (valeur valable du tableau de valeurs 'RouteOfAdministration (2.16.840.1.113883.5.112)')</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono contenere un modo di somministrazione (valore valido della tabella di valori 'RouteOfAdministration (2.16.840.1.113883.5.112)')</xhtml:p>
				<xhtml:p lang="en">Medication data must contain a route of administration (valid value from the value set 'RouteOfAdministration (2.16.840.1.113883.5.112)')</xhtml:p>
			</iso:assert>
			<!--	Dosierung	-->
			<iso:assert id="cda-ch_medication-section-0211" test="cda:doseQuantity or cda:entryRelationship[@typeCode=&quot;COMP&quot;]/cda:substanceAdministration/cda:doseQuantity">
				<xhtml:p lang="de_ch">Die Dosierung muss gemäss Addendum zum VHitG Arztbrief, Kapitel 1.2.5 spezifiziert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Le dosage doit être spécifié selon l'addenda au VHitG Arztbrief, chapitre 1.2.5</xhtml:p>
				<xhtml:p lang="it_ch">Il dosaggio deve essere specificato secondo l'Addendum della VHitG Arztbrief, capitolo 1.2.5</xhtml:p>
				<xhtml:p lang="en">The dosage must be specified according to the Addendum to the VHitG Arztbrief, chapter 1.2.5</xhtml:p>
			</iso:assert>
			<!--	Einnahmeplan	-->
			<iso:assert id="cda-ch_medication-section-0212" test="cda:effectiveTime or cda:entryRelationship[@typeCode=&quot;COMP&quot;]/cda:substanceAdministration/cda:effectiveTime">
				<xhtml:p lang="de_ch">Der Einnahmeplan muss gemäss Addendum zum VHitG Arztbrief, Kapitel 1.2.6 spezifiziert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Le plan d'administration doit être spécifié selon l'addenda au VHitG Arztbrief, chapitre 1.2.6</xhtml:p>
				<xhtml:p lang="it_ch">Il piano di somministrazione deve essere specificato secondo l'Addendum della VHitG Arztbrief, capitolo 1.2.6</xhtml:p>
				<xhtml:p lang="en">The administration schedule must be specified according to the Addendum to the VHitG Arztbrief, chapter 1.2.6</xhtml:p>
			</iso:assert>
			<!-- Anatomische Lage -->
			<iso:assert id="cda-ch_medication-section-0212" test="not(cda:approachSiteCode) or (cda:approachSiteCode/@codeSystem=&quot;2.16.840.1.113883.5.1052&quot; and cda:approachSiteCode/@code=$cda-ch-codeSystem[@root=&quot;2.16.840.1.113883.5.1052&quot;]/code/@value)">
				<xhtml:p lang="de_ch">Wenn die anatomische Lage bei Medikationsdaten angegeben wird, dann muss dies ein gültiger Wert aus der Wertetabelle 'HumanSubstanceAdministrationSite (2.16.840.1.113883.5.1052)' sein)</xhtml:p>
				<xhtml:p lang="en">When an adminstration site is declared with medication, it must contain a valid value from the value set 'HumanSubstanceAdministrationSite (2.16.840.1.113883.5.1052)'</xhtml:p>
			</iso:assert>
		</iso:rule>

		<!--	Template Check -->
		<iso:rule context="cda:entryRelationship/cda:substanceAdministration">
			<!-- Rule Documentation -->
			<xhtml:h3 lang="de_ch">CDA-CH Medication Entry</xhtml:h3>
			<xhtml:p lang="de_ch">Die nachfolgenden Regeln beschreiben die Prüfungen zu den CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="fr_ch">CDA-CH Medication Entry</xhtml:h3>
			<xhtml:p lang="fr_ch">Les règles suivantes décrivent les contrôles effectués sur les CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="it_ch">CDA-CH Medication Entry</xhtml:h3>
			<xhtml:p lang="it_ch">Le regole seguenti descrivono i controlli per i CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="en">CDA-CH medication entry</xhtml:h3>
			<xhtml:p lang="en">The following rules describe the tests on the CDA-CH Medication Entry Templates</xhtml:p>

			<!--	Dosierung	-->
			<iso:assert id="cda-ch_medication-section-0251" test="cda:doseQuantity">
				<xhtml:p lang="de_ch">Die Dosierung muss gemäss Addendum zum VHitG Arztbrief, Kapitel 1.2.7 spezifiziert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Le dosage doit être spécifié selon l'addenda au VHitG Arztbrief, chapitre 1.2.7</xhtml:p>
				<xhtml:p lang="it_ch">Il dosaggio deve essere specificato secondo l'Addendum della VHitG Arztbrief, capitolo 1.2.7</xhtml:p>
				<xhtml:p lang="en">The dosage must be specified according to the Addendum to the VHitG Arztbrief, chapter 1.2.7</xhtml:p>
			</iso:assert>
			<!--	Einnahmeplan	-->
			<iso:assert id="cda-ch_medication-section-0252" test="cda:effectiveTime">
				<xhtml:p lang="de_ch">Der Einnahmeplan muss gemäss Addendum zum VHitG Arztbrief, Kapitel 1.2.7 spezifiziert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Le plan d'administration doit être spécifié selon l'addenda au VHitG Arztbrief, chapitre 1.2.7</xhtml:p>
				<xhtml:p lang="it_ch">Il piano di somministrazione deve essere specificato secondo l'Addendum della VHitG Arztbrief, capitolo 1.2.7</xhtml:p>
				<xhtml:p lang="en">The administration schedule must be specified according to the Addendum to the VHitG Arztbrief, chapter 1.2.7</xhtml:p>
			</iso:assert>
			<iso:assert id="cda-ch_medication-section-0253" test="count(cda:doseQuantity/cda:center)=0 or cda:doseQuantity/cda:center/@value!=&quot;0&quot;">
				<xhtml:p lang="de_ch">Die Dosierung darf nicht 0 oder leer sein</xhtml:p>
				<xhtml:p lang="fr_ch">Le dosage ne doit pas être 0 ou vide</xhtml:p>
				<xhtml:p lang="it_ch">Il dosaggio non può essere 0 o in bianco</xhtml:p>
				<xhtml:p lang="en">The dosage must not be 0 or empty</xhtml:p>
			</iso:assert>

		</iso:rule>
	</iso:pattern>
	<iso:pattern>
		<!--	CDA-CH.Body.MediL3 Checks -->
		<iso:rule context="*[cda:templateId/@root=&quot;2.16.756.5.30.1.1.1.1.1&quot; and cda:templateId/@extension=&quot;CDA-CH.Body.MediL3&quot;]">
			<!-- Rule Documentation -->
			<xhtml:h3 lang="de_ch">CDA-CH Medication Entry L3</xhtml:h3>
			<xhtml:p lang="de_ch">Die nachfolgenden Regeln beschreiben die Prüfungen zu den CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="fr_ch">CDA-CH Medication Section Entry L3</xhtml:h3>
			<xhtml:p lang="fr_ch">Les règles suivantes décrivent les contrôles effectués sur les CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="it_ch">CDA-CH Medication Entry L3</xhtml:h3>
			<xhtml:p lang="it_ch">Le regole seguenti descrivono i controlli per i CDA-CH Medication Entry Templates</xhtml:p>
			<xhtml:h3 lang="en">CDA-CH L3 medication entry</xhtml:h3>
			<xhtml:p lang="en">The following rules describe the tests on the CDA-CH Medication Entry Templates</xhtml:p>
			<!--	Korrekte RIM Klasse 	-->
			<iso:assert id="cda-ch_medication-section-0301" test="self::cda:substanceAdministration">
				<xhtml:p lang="de_ch">Medikationsdaten müssen als 'substanceAdministration' im CDA Body deklariert werden</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent être déclarées comme 'substanceAdministration' dans le CDA Body</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono essere dichiarati come 'substanceAdministration' nel CDA Body</xhtml:p>
				<xhtml:p lang="en">Medication data should be declared as a'SubstanceAdministration' in the CDA Body</xhtml:p>
			</iso:assert>
			<!--	Bezeichnung 	-->
			<iso:assert id="cda-ch_medication-section-0302" test="cda:text">
				<xhtml:p lang="de_ch">Medikationsdaten müssen auch im entry einen narrativen Text enthalten (Bezeichnung des Artikels)</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent contenir un texte narratif également dans l'entry (désignation de l'article)</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni devono contenere anche nell'entry un testo narrativo (designazione dell'articolo)</xhtml:p>
				<xhtml:p lang="en">Medication data must also contain a narrative text in the entry (Name of the article)</xhtml:p>
			</iso:assert>
			<!--	IHE PCC Templates (für xPHR Extract und xPHR Update) -->
			<iso:assert role="warning" id="cda-ch_medication-section-0303" test="cda:templateId/@root=&quot;1.3.6.1.4.1.19376.1.5.3.1.4.7&quot;">
				<xhtml:p lang="de_ch">Medikationsdaten sollten das IHE PCC Template 'Medications' (1.3.6.1.4.1.19376.1.5.3.1.4.7) implementieren</xhtml:p>
				<xhtml:p lang="fr_ch">Les données de médication doivent implémenter l'IHE PCC Template 'Medications' (1.3.6.1.4.1.19376.1.5.3.1.4.7)</xhtml:p>
				<xhtml:p lang="it_ch">I dati delle medicazioni dovrebbero implementare l'IHE PCC Template 'Medications' (1.3.6.1.4.1.19376.1.5.3.1.4.7)</xhtml:p>
				<xhtml:p lang="en">Medication data should implement the 'Medications' IHE PCC Template (1.3.6.1.4.1.19376.1.5.3.1.4.7)</xhtml:p>
			</iso:assert>
		</iso:rule>
	</iso:pattern>
</xs:schema>
<!-- EOF -->
